<p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
        <h2><span class="badge">会員情報編集</span></h2>
        <%= form_with model: @customer, url: customers_path, method: :patch do |f| %>
         <% if @customer.errors.any? %>
          <div id="error_explanation" >
           <h3><%= @customer.errors.count %> error prohibited this obj from being saved: </h3>
           <% @customer.errors.full_messages.each do |message| %>
            <ul>
             <li> <%= message %></li>
            </ul>
           <% end %>
          </div>
         <% end %>
        <div class="row">
          <div class="col-4">
            <div class="field">
              <%= f.label :姓 %><br />
              <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
            </div>
          </div>
          <div class= "col-4">
            <div class="field">
              <%= f.label :名 %><br />
              <%= f.text_field :last_name %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class= "col-4">
            <div class = "field">
              <%= f.label :セイ %><br />
              <%= f.text_field :first_name_kana %>
            </div>
          </div>
          <div class= "col-4">
            <div class= "field">
              <%= f.label :名 %><br />
              <%= f.text_field :last_name_kana %>
            </div>
          </div>
        </div>
        <div class="field">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email %>
        </div>
        <div class="field">
          <%= f.label :郵便番号 %><br />
          <%= f.text_field :postal_code %>
        </div>
        <div class="field">
          <%= f.label :住所 %><br />
          <%= f.text_field :address %>
        </div>
        <div class="field">
          <%= f.label :電話番号 %><br />
          <%= f.text_field :telephone_number %><br />
        </div>
        <div class="row">
          <div class = "col-6">
            <div class="actions"><br />
              <%= f.submit "編集内容を保存", class:"btn btn-success" %>
            </div>
          </div>
          <div class = "col-6">
            <div class="actions"><br />
             <%= link_to '退会する', customers_unsubscribe_path, class:"btn btn-danger" %>
            </div>
          </div>
        </div>


       <% end %>
      </div>
    </div>
  </div>
